.product-image {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .product-image {
    opacity: 0;
}

.card:hover .hover-image {
    opacity: 1;
}

.container {
    text-align: center;
}
